.Introduce {
  width: 100%;
  height: 100vh;
  background-color: #040507;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Introduce__p {
  font-size: 11rem;
  color: #bfbfbf;

  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;

  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 6s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  50% {
    background-position: 500%;
  }
  100% {
    background-position: -500%;
  }
}
